<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.AccommodateMapper">
	<!-- select 태그 -->
	
<!-- 숙소 리스트 -->
	<select id="accommodatelist"
		resultType="com.test.domain.AccommodateDTO">
		select * from tblAccommodate
	</select>
	
	<!-- 숙소 리스트2 -->
	<!-- 가격 조회 실패 -->
	<select id="accommodatelist2"
		resultType="com.test.domain.AccommodateDTO">
		select * from tblAccommodate
	</select>
	
<!-- 하다가 만거 -->
	<select id="accomodatecategorycount"
		resultType="com.test.domain.AccommodateDTO">
		SELECT COUNT(*) FROM tblAccommodate WHERE type = '호텔'
	</select>

<!-- 숙소 상세페이지 -->
	<select id="get" resultType="com.test.domain.AccommodateDTO"
		parameterType="String">
		select * from tblAccommodate where acco_seq = #{acco_seq}
	</select>

	<select id="view" resultType="com.test.domain.RoomDTO"
		parameterType="String">
		select * from tblRoom where acco_seq = #{acco_seq}
	</select>

<!-- 버스 상세 -->	
	<select id="tran_get" resultType="com.test.domain.TransportDTO"
		parameterType="String">
		select * from tblTransport where tran_seq = #{tran_seq}
	</select>
	
	<select id="tran_view" resultType="com.test.domain.TrandateDTO"
		parameterType="String">
		select * from tblTrandate where tran_seq = #{tran_seq}
	</select>

<!-- 버스 리스트 -->
	<select id="transportlist"
		resultType="com.test.domain.TransportDTO" parameterType="String">
		select * from tblTransport where type = '버스'
	</select>

<!-- 기차 리스트 -->	
	<select id="trainlist"
		resultType="com.test.domain.TransportDTO" parameterType="String">
		select * from tblTransport where type = '기차'
	</select>

<!-- 비행기 리스트 -->	
	<select id="airplanelist"
		resultType="com.test.domain.TransportDTO" parameterType="String">
		select * from tblTransport where type = '비행기'
	</select>
	
	<!-- 리뷰 보기 -->
	<select id="review" resultType="com.test.domain.AccommodateDTO" parameterType="String">
		select * from vwAccommodateReview where acco_seq = #{acco_seq} order by rdate desc
	</select>
	
	<!-- 리뷰 개수 -->
	<select id="reviewCount" resultType="String" parameterType="String">
    	select count(acco_seq) as rcount from vwAccommodateReview where acco_seq=#{acco_seq}
	</select>
	
	<!-- 즐겨찾기 추가 -->
	<insert id="bookmark_on">
		insert into tblBookmark values((select * from (select max(bookmark_seq) + 1 from tblBookmark)), #{acco_seq}, null, 1, null, null)
	</insert>
	
	<!-- 즐겨찾기 삭제 -->
	<delete id="bookmark_off">
		delete from tblBookmark where activity_seq = #{acco_seq} and member_seq=#{member_seq}
	</delete>
	
	
	
	<!-- 게시물 총 갯수 -->
	<!-- 
<select id="count" resultType="int">
 select count(*) from tblTransport 
</select>
 -->


<!-- 게시물 목록 + 페이징 -->
<!-- 
<select id="listPage" parameterType="hashMap" resultType="com.board.domain.BoardVO">
 select
  bno, title, writer, regDate, viewCnt
 from tbl_board
 order by bno desc
  limit #{displayPost}, #{postNum}
</select>
 -->

</mapper>



